<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Favorite Books</title>
</head>
<body>
	<header><h1>Welcome, {{ user.first_name }}</h1><a href="/logout">Log Out</a></header>
	<hr />
	<div name="book_add">
		<form action="books/add" method="post">
			{% csrf_token %}
			<p>Title: <input name="title" type="text" value="{{book.title}}"></p>
			<p>Description: <input name="description" type="text" value="{{book.description}}"></p>
			<button type="submit">Add Book</button>
		</form>
	</div>
	<div name="all_books">
		<h2>All Books</h2>
		{% for b in all_books %}
			<ul>
				<li><a href="/book/{{b.id}}">{{b.title}}</a></li>
				<li>(Added by {{b.uploaded_by.first_name}} {{b.uploaded_by.last_name}})</li>
				{% if b in liked_books %}
				<li>This book is your favorite</li>
				{% else %}
				<li><a href="/book/{{b.id}}/favorite">Add to Favorites</a></li>
				{% endif %}
			</ul>
		{% endfor %}
	</div>
</body>
</html>